In [2]:
import pandas as pd 
lifeEx = pd.read_csv('Life-Expectancy-Data-Updated.csv')
lifeEx.head()

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
0,Turkiye,Middle East,2015,11.1,13.0,105.8240,1.32,97,65,27.8,...,97,0.08,11006,78.53,4.9,4.8,7.8,0,1,76.5
1,Spain,European Union,2015,2.7,3.3,57.9025,10.35,97,94,26.0,...,97,0.09,25742,46.44,0.6,0.5,9.7,1,0,82.8
2,India,Asia,2007,51.5,67.9,201.0765,1.57,60,35,21.2,...,64,0.13,1076,1183.21,27.1,28.0,5.0,0,1,65.4
3,Guyana,South America,2006,32.8,40.5,222.1965,5.68,93,74,25.3,...,93,0.79,4146,0.75,5.7,5.5,7.9,0,1,67.0
4,Israel,Middle East,2012,3.4,4.3,57.9510,2.89,97,89,27.0,...,94,0.08,33995,7.91,1.2,1.1,12.8,1,0,81.7

In [13]:
print('SORTED DATAFRAME')
NLifeEx = lifeEx.sort_values(by = ['Country', 'Year'], ascending = [True, True], na_position = 'first')
NLifeEx

SORTED DATAFRAME

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
68,Afghanistan,Asia,2000,90.5,129.2,310.8305,0.02,62,12,21.7,...,24,0.02,148,20.78,2.3,2.5,2.2,0,1,55.8
1693,Afghanistan,Asia,2001,87.9,125.2,304.8580,0.02,63,13,21.8,...,33,0.02,163,21.61,2.1,2.4,2.2,0,1,56.3
679,Afghanistan,Asia,2002,85.3,121.1,298.8855,0.02,64,14,21.9,...,36,0.02,320,22.60,19.9,2.2,2.3,0,1,56.8
1221,Afghanistan,Asia,2003,82.7,116.9,292.0365,0.02,65,15,22.0,...,41,0.02,332,23.68,19.7,19.9,2.4,0,1,57.3
1147,Afghanistan,Asia,2004,80.0,112.6,285.1880,0.02,67,16,22.1,...,50,0.02,323,24.73,19.5,19.7,2.5,0,1,57.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Zimbabwe,Africa,2011,50.8,80.8,466.2650,3.91,94,64,23.7,...,93,6.05,1249,12.89,6.8,6.7,7.3,0,1,52.9
1489,Zimbabwe,Africa,2012,46.5,72.2,423.4420,3.93,97,64,23.7,...,95,5.13,1432,13.12,6.5,6.4,7.9,0,1,55.0
1201,Zimbabwe,Africa,2013,44.8,66.3,405.0080,4.11,95,64,23.7,...,95,4.77,1435,13.35,6.2,6.0,8.0,0,1,56.9
1005,Zimbabwe,Africa,2014,42.9,62.7,386.5745,4.22,91,64,23.8,...,91,4.29,1444,13.59,5.9,5.7,8.2,0,1,58.4
1480,Zimbabwe,Africa,2015,42.1,61.3,368.1410,3.84,87,64,23.8,...,87,3.86,1445,13.81,5.6,5.5,8.2,0,1,59.5

,Country,Region,Year,Infant_deaths,Under_five_deaths,Adult_mortality,Alcohol_consumption,Hepatitis_B,Measles,BMI,...,Diphtheria,Incidents_HIV,GDP_per_capita,Population_mln,Thinness_ten_nineteen_years,Thinness_five_nine_years,Schooling,Economy_status_Developed,Economy_status_Developing,Life_expectancy
68,Afghanistan,Asia,2000,90.5,129.2,310.8305,0.02,62,12,21.7,...,24,0.02,148,20.78,2.3,2.5,2.2,0,1,55.8
1693,Afghanistan,Asia,2001,87.9,125.2,304.8580,0.02,63,13,21.8,...,33,0.02,163,21.61,2.1,2.4,2.2,0,1,56.3
679,Afghanistan,Asia,2002,85.3,121.1,298.8855,0.02,64,14,21.9,...,36,0.02,320,22.60,19.9,2.2,2.3,0,1,56.8
1221,Afghanistan,Asia,2003,82.7,116.9,292.0365,0.02,65,15,22.0,...,41,0.02,332,23.68,19.7,19.9,2.4,0,1,57.3
1147,Afghanistan,Asia,2004,80.0,112.6,285.1880,0.02,67,16,22.1,...,50,0.02,323,24.73,19.5,19.7,2.5,0,1,57.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Zimbabwe,Africa,2011,50.8,80.8,466.2650,3.91,94,64,23.7,...,93,6.05,1249,12.89,6.8,6.7,7.3,0,1,52.9
1489,Zimbabwe,Africa,2012,46.5,72.2,423.4420,3.93,97,64,23.7,...,95,5.13,1432,13.12,6.5,6.4,7.9,0,1,55.0
1201,Zimbabwe,Africa,2013,44.8,66.3,405.0080,4.11,95,64,23.7,...,95,4.77,1435,13.35,6.2,6.0,8.0,0,1,56.9
1005,Zimbabwe,Africa,2014,42.9,62.7,386.5745,4.22,91,64,23.8,...,91,4.29,1444,13.59,5.9,5.7,8.2,0,1,58.4
1480,Zimbabwe,Africa,2015,42.1,61.3,368.1410,3.84,87,64,23.8,...,87,3.86,1445,13.81,5.6,5.5,8.2,0,1,59.5